<mat-card-title>{{park.name}}</mat-card-title>
<div id="perks">
  <img *ngFor="let icon of icons" [src]="icon" />
</div>
<button mat-raised-button color="primary" (click)="displayPOIs()">Show park's perks</button>
