::ng-deep .mat-basic-chip {
    margin: 2px;
  }
  
  ::ng-deep .mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin: 2px;
  }
  
  ::ng-deep .myFilters .mat-chip-list-wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    display: block !important;
  }
  